@font-face {
	font-display: swap;
	font-family: 'Space Mono';
	font-style: normal;
	font-weight: 400;
	src: url('space-mono-v17-latin-regular.woff2') format('woff2'),
		url('space-mono-v17-latin-regular.ttf') format('truetype');
}

@font-face {
	font-display: swap;
	font-family: 'Space Mono';
	font-style: italic;
	font-weight: 400;
	src: url('space-mono-v17-latin-italic.woff2') format('woff2'),
		url('space-mono-v17-latin-italic.ttf') format('truetype');
}

@font-face {
	font-display: swap;
	font-family: 'Space Mono';
	font-style: normal;
	font-weight: 700;
	src: url('space-mono-v17-latin-700.woff2') format('woff2'),
		url('space-mono-v17-latin-700.ttf') format('truetype');
}

@font-face {
	font-display: swap;
	font-family: 'Space Mono';
	font-style: italic;
	font-weight: 700;
	src: url('space-mono-v17-latin-700italic.woff2') format('woff2'),
		url('space-mono-v17-latin-700italic.ttf') format('truetype');
}

body {
	background-color: #1a1b26;
	color: #a9b1d6;
	font-family: "Space Mono", monospace;
	font-style: normal;
	font-weight: 300;
}

.profile-container {
	margin: auto;
	width: 50%;
	height: 50%;
	margin-top: 10%;
	padding: 10px;
	border: 3px solid green;
}


.title-name {
	text-align: center;
	font-weight: 700;
	font-size: 4rem;
}

.pronouns {
	text-align: center;
	font-size: 0.9rem;
	font-style: italic;
	margin-top: -3.8rem;
	opacity: 0.2;
}
