@font-face {
	font-display: swap;
	font-family: 'Space Mono';
	font-style: normal;
	font-weight: 400;
	src: url('space-mono-v17-latin-regular.woff2') format('woff2'),
		url('space-mono-v17-latin-regular.ttf') format('truetype');
}

@font-face {
	font-display: swap;
	font-family: 'Space Mono';
	font-style: italic;
	font-weight: 400;
	src: url('space-mono-v17-latin-italic.woff2') format('woff2'),
		url('space-mono-v17-latin-italic.ttf') format('truetype');
}

body {
	background-color: #1a1b26;
	color: #a9b1d6;
	font-family: "Space Mono", monospace;
	font-style: normal;
}
